.section {
  margin-left: auto;
  margin-right: auto;
}
.title {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 61px;
  text-align: center;
  display: flex;
  justify-content: center;

  color: rgba(27, 18, 6, 0.842);
}
